---
import Header from '../components/header.svelte'
import Base from '../layouts/base.astro'
---

<Base>
	<div class="container mx-auto mt-16 flex h-96">
		<div class="aspect-video h-full bg-red-200"></div>
		<div class="bg-blue-200"></div>
	</div>
</Base>
