---
import Base from '../layouts/base.astro'
import Diptych from '../components/diptych.astro'
---

<Base>
	<main class="space-y-1 px-1">
		<Diptych
			left={{ src: 'images/7.webp', aspect: 'aspect-portrait' }}
			right={{ src: 'images/6.webp', aspect: 'aspect-paysage' }}
		/>
		<Diptych
			left={{ src: 'images/1.webp', aspect: 'aspect-paysage' }}
			right={{ src: 'images/2.webp', aspect: 'aspect-portrait' }}
		/>
		<Diptych
			left={{ src: 'images/3.jpg', aspect: 'aspect-square' }}
			right={{ src: 'images/4.webp', aspect: 'aspect-portrait' }}
		/>
		<Diptych
			left={{ src: 'images/8.webp', aspect: 'aspect-portrait' }}
			right={{ src: 'images/5.webp', aspect: 'aspect-paysage' }}
		/>
		<Diptych left={{ src: 'images/9.webp', aspect: 'aspect-portrait' }} />
	</main>
</Base>
