---
import Header from '../components/header.svelte'
import Base from '../layouts/base.astro'
---

<Base>
	<div class="mx-auto grid auto-rows-[30rem] grid-cols-3 gap-16 p-8">
		<a href="#" class="group relative col-span-2">
			<img src="images/8.webp" class="h-full w-full object-contain" alt="" />
			<span
				class="absolute bottom-0 left-0 flex h-16 w-full items-center px-8 py-4 text-xl text-cream"
				>Titre</span
			>
		</a>
		<a href="#" class="group relative">
			<img src="images/9.webp" class="h-full w-full object-contain" alt="" />
			<span
				class="absolute bottom-0 left-0 flex h-16 w-full items-center px-8 py-4 text-xl text-cream"
				>Titre</span
			>
		</a>
		<a href="#" class="group relative">
			<img src="images/10.jpeg" class="h-full w-full object-contain" alt="" />
			<span
				class="absolute bottom-0 left-0 flex h-16 w-full items-center px-8 py-4 text-xl text-cream"
				>Titre</span
			>
		</a>
		<a href="#" class="group relative">
			<img src="images/11.jpeg" class="h-full w-full object-contain" alt="" />
			<span
				class="absolute bottom-0 left-0 flex h-16 w-full items-center px-8 py-4 text-xl text-cream"
				>Titre</span
			>
		</a>
		<a href="#" class="group relative">
			<img src="images/7.webp" class="h-full w-full object-contain" alt="" />
			<span
				class="absolute bottom-0 left-0 flex h-16 w-full items-center px-8 py-4 text-xl text-cream"
				>Titre</span
			>
		</a>
		<a href="#" class="group relative">
			<img src="images/5.webp" class="h-full w-full object-contain" alt="" />
			<span
				class="absolute bottom-0 left-0 flex h-16 w-full items-center px-8 py-4 text-xl text-cream"
				>Titre</span
			>
		</a>
		<a href="#" class="group relative col-span-2">
			<img src="images/6.webp" class="h-full w-full object-contain" alt="" />
			<span
				class="absolute bottom-0 left-0 flex h-16 w-full items-center px-8 py-4 text-xl text-cream"
				>Titre</span
			>
		</a>
		<a href="#" class="group relative">
			<img src="images/11.jpeg" class="h-full w-full object-contain" alt="" />
			<span
				class="absolute bottom-0 left-0 flex h-16 w-full items-center px-8 py-4 text-xl text-cream"
				>Titre</span
			>
		</a>
		<a href="#" class="group relative">
			<img src="images/7.webp" class="h-full w-full object-contain" alt="" />
			<span
				class="absolute bottom-0 left-0 flex h-16 w-full items-center px-8 py-4 text-xl text-cream"
				>Titre</span
			>
		</a>
		<a href="#" class="group relative row-span-2">
			<img src="images/10.jpeg" class="h-full w-full object-contain" alt="" />
			<span
				class="absolute bottom-0 left-0 flex h-16 w-full items-center px-8 py-4 text-xl text-cream"
				>Titre</span
			>
		</a>
		<a href="#" class="group relative col-span-2">
			<img src="images/1.webp" class="h-full w-full object-contain" alt="" />
			<span
				class="absolute bottom-0 left-0 flex h-16 w-full items-center px-8 py-4 text-xl text-cream"
				>Titre</span
			>
		</a>
	</div>
</Base>
