---
import Reel from '../components/reel.astro'
import Base from '../layouts/base.astro'
---

<Base>
	<main class="flex min-h-withheader flex-wrap">
		<div class="h-withheader min-w-[50%] grow-[999] basis-0">
			<Reel
				images={[
					{ src: 'images/B8-AKIO-0.png' },
					{ src: 'images/B8-AKIO-1.png' },
					{ src: 'images/B8-AKIO-2.png' },
					{ src: 'images/B8-AKIO-3.png' },
					{ src: 'images/B8-AKIO-4.png' },
					{ src: 'images/B8-AKIO-5.png' },
					{ src: 'images/B8-AKIO-6.png' },
					{ src: 'images/B8-AKIO-7.png' },
					{ src: 'images/B8-AKIO-8.png' }
				]}
			/>
		</div>
		<div
			class="grid grow basis-[38.2%] grid-rows-[1fr_2fr] flex-col bg-night p-4 text-lg text-cream"
		>
			<div class="">
				<h1 class="text-l font-bold">AKIO GALLERY</h1>
				<h2>Alaia Exhibition, 2015</h2>
			</div>
			<div class="">
				<p class="my-auto max-w-prose">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
					blanditiis minima, nisi cum mollitia minus atque quisquam totam facere
					delectus quam velit culpa fugiat, quos natus quidem voluptates eum
					quasi.
				</p>
			</div>
		</div>
	</main>
</Base>
